extends standard_page
block content
  .edit Click on a field to make changes.
  .user
    .name #{user.name}
    .email #{user.email}
    .position #{user.position}
    .website #{user.website}
    .bio #{user.bio}
    .oauth
    each account in user.oauth
      .account
        span.provider #{account.provider}
        span.unlink Unlink this account
  
  //- Make this update live as they edit the fields:
  h4 Preview:
  #members
    .person
      .top
        .name= user.name
        - if(user.website)
          a.website(href="#{person.website}")
      .labels
        - if(user.position)
          .position= user.position
      - if(user.bio)
        .bio= user.bio

  a.button.save Save
