extends standard_page 
block content
  mixin person(person)
    .person(id="#{person.name}")
      .top
        h5.name= person.name
        - if(person.website)
          a.website(href="#{person.website}")
        - if(person.position)
          h6.position= person.position
      .labels
      - if(person.bio)
        .text-block.bio= person.bio

  #members
    h2 Current Members
    - for member in people.members
      mixin person(member)

    h2 Alumni
    - for alum in people.alumni
      - alum.bio = null
      mixin person(alum)

    //-
      h2 Moral Support
      - for support in people['Moral Support']
        mixin person(support)

    h2 Contributors
    - for contributor in people['Contributors']
      - contributor.bio = null
      mixin person(contributor)
